---
import ResponsiveBlock from "../layouts/ResponsiveBlock.astro";
import HeaderLink from "./HeaderLink.astro";

let menuOptions = [
  {
    label: "Inicio",
    path: "/",
  },
  {
    label: "Servicios",
    path: "/servicios",
  },
  {
    label: "Nosotros",
    path: "/nosotros",
  },
  {
    label: "Condecoraciones",
    path: "/condecoraciones",
  },
  {
    label: "Novedades",
    path: "/blog",
  },
  {
    label: "Contáctanos",
    path: "/contacto",
  },
  {
    label: "WPS",
    path: "/",
  },
];
---

<header class="absolute top-0 z-20 w-full">
  <ResponsiveBlock>
    <nav class="flex justify-between text-white p-2">
      <HeaderLink href="/">
        <img src="/images/WhiteLogo.svg" alt="" class="h-full" />
      </HeaderLink>
      <ul class="flex gap-2">
        {
          menuOptions.map((item) => (
            <li class="flex items-center">
              <HeaderLink href={item.path}>{item.label}</HeaderLink>
            </li>
          ))
        }
      </ul>
    </nav>
  </ResponsiveBlock>
</header>
<style>
  nav {
    height: 80px;
  }
</style>
