---
import ResponsiveBlock from "../layouts/ResponsiveBlock.astro";
import HeaderLink from "./HeaderLink.astro";
import Imagotipo from "./React/Imagotipo";
import NavBar from "./React/NavBar";

let menuOptions = [
  {
    label: "Inicio",
    path: "/",
  },
  {
    label: "Servicios",
    path: "/servicios",
  },
  {
    label: "Nosotros",
    path: "/nosotros",
  },
  {
    label: "Condecoraciones",
    path: "/condecoraciones",
  },
  {
    label: "Novedades",
    path: "/blog",
  },
  {
    label: "Contáctanos",
    path: "/contacto",
  },
];
---

<header class="absolute top-0 z-20 w-full">
  <ResponsiveBlock>
    <nav class="flex justify-between items-center gap-4 text-white sm:p-2">
      <HeaderLink href="/">
        <Imagotipo className="fill-white sm:w-80 w-full" />
      </HeaderLink>
      <NavBar options={menuOptions} client:load />
    </nav>
  </ResponsiveBlock>
</header>
<style>
  nav {
    height: 80px;
  }
</style>
