---
import ResponsiveBlock from "../layouts/ResponsiveBlock.astro";

const dataSteps = [
  {
    title: "Contáctanos",
    description:
      "Comunícate por medio de nuestro WhatsApp al número de reservas al 939 737 714, con gusto te atenderemos.",
  },
  {
    title: "Identifícate",
    description: "Bríndanos tus datos personales como tu nombre y DNI.",
  },
  {
    title: "Datos adicionales",
    description:
      "Por ultimo indícanos el servicio, la fecha  y hora en la que se requiere hacer la reserva.",
  },
];
---

<div class="bg-secondary text-white mt-20">
  <ResponsiveBlock>
    <div class="flex justify-between gap-8">
      <div class="w-1/2">
        <img
          src="/images/photo-07.svg"
          alt="Whatsapp"
          class="h-full mx-auto object-none object-bottom"
        />
      </div>
      <div class="w-1/2">
        <div class="py-20 px-5 w-9/12">
          <h6 class="font-bold text-3xl text-white">
            Ahora puedes reservar vía WhatsApp
          </h6>
          <ul class="flex flex-col gap-10 my-10">
            {
              dataSteps.map((item) => (
                <li class="flex gap-5">
                  <p class="bg-primary rounded-full w-3 h-3 mt-2 aspect-square" />
                  <div class="flex flex-col gap-2">
                    <h6 class="text-white font-bold text-xl">{item.title}</h6>
                    <p class="text-xs">{item.description}</p>
                  </div>
                </li>
              ))
            }
          </ul>
          <a
            href="https://api.whatsapp.com/message/LCQYEQNKYQYMA1?autoload=1&app_absent=0"
            target="_blank"
            rel="nofollow"
            class="bg-primary px-5 py-3 rounded-full">Whatsapp</a
          >
        </div>
      </div>
    </div>
  </ResponsiveBlock>
</div>
