---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead
      title={`${title} - ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body class="relative">
    <slot />
  </body>
</html>
